* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
}

.padre {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 10px;
    justify-content: center;
}

    .header {
        background: #000;
        display: grid;
        column-gap: 10px;
    }
        .menu {
            background: rgb(197, 197, 197);
            display: grid;
            grid-template-columns: 18% 64% 18%;
            align-items: center;
        }
            .logo{
                background: rgb(255, 0, 0);
                justify-content: center;
            }

            .nav{
                background: rgb(255, 0, 0);
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                column-gap: 15px;
                justify-content: center;
            }

            .social{
                background: rgb(255, 0, 0);
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 10px;
                justify-content: center;
            }

        .texto-principal{
            background: rgb(2, 105, 2);
        }
        h1{
            background: rgb(233, 72, 211);
            }

    .section {
        background: #000;
        display: grid;
        grid-template-columns: 67% 33%;
        }
        .articulos{
            background: rgb(0, 122, 112);
            display: grid;
            grid-template-columns: 2;
            /* column-gap: 10px; */
            /* align-items: center; */
            /* padding: 10px; */
        }
            .articulo{
                background: rgb(255, 153, 58);
                display: grid;
                grid-template-columns: 2;
            }
            .navegacion{
                background: rgb(255, 67, 67);
                display: grid;
                grid-column: 1 / span 2;
            }

        .aside{
            background: rgb(196, 0, 98);
        }
            .publicidad{
                background: rgb(174, 255, 44);
            }
    .footer {
        background: #000;
        display: grid;
        grid-template-columns: 33%;
        justify-content: center;
    }
        .pie{
            background: rgb(0, 72, 228);
        }

@media all and (max-width: 800px){
        .section {
            display: grid;
            grid-template-columns: 100%;
        }
        .aside {
            display: grid;
            grid-template-rows: 50% 50%;
        }
        .footer {
            display: grid;
            grid-template-columns: 100%;
        }
    }

@media only screen and (max-width: 800px) {
    .section {
        background-color: rgb(131, 131, 131);
    }
  }

  @media all and (max-width: 600px){
    .menu{
        display: grid;
        grid-template-columns: 100%;
    }
    .articulos{
        display: flex;
        flex-direction: column;
        /* justify-content: center;
        flex-direction: column; */
    }
  }