* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

    .header {
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu {
            background: rgb(255, 255, 255);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background: rgb(255, 0, 0);
                flex: 1 1 auto;
                height: 30px;
            }
            .nav{
                background: rgb(255, 0, 0);
                flex: 5 1 auto;
                height: 30px;
            }
            .social{
                background: rgb(255, 0, 0);
                flex: 1 1 auto;
                height: 30px;
            }
        .texto-principal{
            background: rgb(0, 160, 0);
        }
            h1{
                background: rgb(160, 0, 139);
            }

    .section {
        background: #000;
        display: flex;
    }
        .articulos{
            background: rgb(4, 255, 234);
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .articulo{
                background: rgb(252, 123, 2);
                flex: 1 1 40%;
            }
            .navegacion{
                background: rgb(255, 188, 125);
                flex: 1 1 100%;
            }
        .aside{
            background: rgb(255, 32, 143);
            flex: 1 1 auto;
        }
            .publicidad{
                background: rgb(174, 255, 44);
            }
    .footer {
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: rgb(0, 53, 167);
            width: 300px;
        }

@media all and (max-width: 800px){
        .section {
            flex-direction: column;
        }
        .menu {
            flex-direction: column;
            height: auto;
        }
        .aside {
            display: flex;
            justify-content: center;
        }
    }
@media all and (max-width: 600px){
    .articulos {
        flex-direction: column;
    }
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}