* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

    .header {
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu {
            background: rgb(197, 197, 197);
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
                background: rgb(255, 0, 0);
                flex: 1 1 auto;
                height: 30px;
            }
            .nav{
                background: rgb(255, 0, 0);
                flex: 5 1 auto;
                height: 30px;
            }
            .social{
                background: rgb(255, 0, 0);
                flex: 1 1 auto;
                height: 30px;
            }
        .texto-principal{
            background: rgb(2, 105, 2);
        }
        h1{
            background: rgb(233, 72, 211);
            }

    .section {
        background: #000;
        display: flex;
    }
        .articulos{
            background: rgb(0, 122, 112);
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .articulo{
                background: rgb(255, 153, 58);
                flex: 1 1 40%;
            }
            .navegacion{
                background: rgb(255, 67, 67);
                flex: 1 1 100%;
            }
        .aside{
            background: rgb(196, 0, 98);
            flex: 1 1 auto;
        }
            .publicidad{
                background: rgb(174, 255, 44);
            }
    .footer {
        background: #000;
        display: flex;
        justify-content: center;
    }
        .pie{
            background: rgb(0, 72, 228);
            width: 300px;
        }

@media all and (max-width: 800px){
        .menu {
            flex-direction: row;
            height: auto;
        }
        .section {
            flex-direction: column;
        }
        .aside {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .pie {
            flex: 1 1 100%;
        }
    }

@media only screen and (max-width: 800px) {
    .section {
        background-color: rgb(131, 131, 131);
    }
  }

  @media all and (max-width: 400px){
    .menu {
        flex-direction: column;
        display: flex;
        align-items: stretch;
    }
    .section {
        flex-direction: column;
    }
    .aside {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
